doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title  Tracker - #{title}
        // Bootstrap Core CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet',
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

        // MetisMenu CSS
        link(href='//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.1/metisMenu.min.css', rel='stylesheet')
        // Custom CSS
        link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
        // Custom Fonts
        link(href="https://use.fontawesome.com/releases/v5.1.0/css/all.css",
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" ,
        crossorigin="anonymous", rel='stylesheet', type='text/css')

        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

        block head
    body
        #wrapper
            include navBar
            // Page Content
            #page-wrapper
                .row
                    .col-lg-12
                        h1.page-header #{title}
                .container-fluid
                    block content
                        // /.col-lg-12
                    // /.row
                // /.container-fluid
            // /#page-wrapper
        // /#wrapper
        // jQuery
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')

        // Bootstrap Core JavaScript
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

        // Metis Menu Plugin JavaScript
        script(src='//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.1/metisMenu.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')

        block scripts
