nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='index.html') CT Admin v2.0
    // /.navbar-top-links
    .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
            ul#side-menu.nav
                li.sidebar-search
                    .input-group.custom-search-form
                        input.form-control(type='text', placeholder='Search...')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                i.fa.fa-search
                    // /input-group
                li
                    a(href='/')
                        i.fas.fa-tachometer-alt
                        |  Dashboard
                li
                    a(href='/install')
                        i.fa.fa-tasks.fa-fw
                        | Install Instructions
                li
                    a(href='#')
                        i.fas.fa-map-pin
                        |  Locations
                        span.fas.fa-angle-left
                    ul.nav.nav-second-level
                        li
                            a(href='/locations/all') All Locations
                    // /.nav-second-level

                li
                    a(href='#')
                        i.fas.fa-mobile-alt
                        |  Devices
                        span.fas.fa-angle-left
                    ul.nav.nav-second-level
                        li
                            a(href='/devices/all') All Devices
                    // /.nav-second-level
        // /.sidebar-collapse
    // /.navbar-static-side