extends ../shared/layout
block head
    // DataTables CSS
    link(href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet")
    // DataTables Responsive CSS
    link(href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap.min.css" rel="stylesheet")


block content
    .row
        .col-lg-12

            table#locationTable.table.table-striped.table-bordered.table-hover(width="100%")
                thead
                    tr
                        th Timestamp
                        th Owner
                        th Latitude
                        th Longitude
                        th Accuracy
                tbody
                    each location in locations
                        tr
                            td #{location.utcTimeFix}
                            td #{location.Device.owner}
                            td #{location.latitude}
                            td #{location.longitude}
                            td #{location.accuracy}

                    // /.table-responsive
                // /.panel-body
            // /.panel
        // /.col-lg-12


    //Modal
    #myModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
                    h4#myModalLabel.modal-title Location information
                .modal-body
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close
            // /.modal-content
        // /.modal-dialog




block scripts
    // DataTables JavaScript
    script(src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js")
    script(src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js")
    script(src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")

    script.
        $(document).ready(function () {
            $('#locationTable').DataTable({
                responsive: true
            });


            $('#locationTable tbody').on( 'click', 'tr', function () {
                var tds = $(this).children();
                var lat = tds[2].textContent;
                var lon = tds[3].textContent;

                axios.get('https://nominatim.openstreetmap.org/reverse.php',{
                    params: {
                        format: "jsonv2",
                        zoom: 18,
                        lat: lat,
                        lon: lon
                    }
                })
                    .then(function (res) {
                        // handle success
                        const modal = $('#myModal');
                        const mbody = $('#myModal .modal-body');

                        var dat = "<b>Full address: </b>" + res.data.display_name + "<br>";
                        dat += "<b>Place type: </b>" + res.data.type + "<br>";
                        dat += "<b>Neighbourhood: </b>" + res.data.address.neighbourhood + "<br>";
                        dat += "<b> Latitude: </b>" + lat + "<br>";
                        dat += "<b> Longitude: </b>" + lon + "<br>";

                        mbody.html(dat);
                        modal.modal('show');
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            });
        });
