extends shared/layout

block head
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="")

    script(src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin="")

block content
    .row
        .col-lg-8
            div(id="LocationMap" class="mh-50" style="height: 400px;")
        .col-lg-4
            .panel.panel-default
                .panel-heading
                    i.fa.fa-bell.fa-fw
                    |  Last Locations Panel
                // /.panel-heading
                .panel-body
                    each location in lastLocations
                        .list-group
                            a.list-group-item.lastLocations(href='#' id=location.utcTimeFix)
                                i.glyphicon.glyphicon-pushpin
                                | Lat: #{location.latitude}, Lon: #{location.longitude}
                                span.pull-right.text-muted.small
                                    em #{location.get('stringTime')}


                    // /.list-group
                    a.btn.btn-default.btn-block(href='/locations/all') View All Locations
                // /.panel-body
    // /.panel

block scripts

    script.
        var mymap = L.map('LocationMap').setView([18.4861, -69.9312], 13);
        var markers = [];

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        //Add markers
        let locs = !{JSON.stringify(locations)}
        locs.forEach(function (elem) {
            var marker = L.marker([elem.latitude, elem.longitude]);
            marker.bindPopup("<b>Taken: </b>" + elem.stringTime + "<br><b>Owner: </b>" + elem.Device.owner + "</br><b>Accuracy: </b>" + elem.accuracy + " m. </br><b>Altitude: </b>" + elem.altitude + " m. </br>");
            markers[elem.utcTimeFix] = marker;
            marker.addTo(mymap);


        });


        $(".lastLocations").on('click', function () {
            var mark = markers[$(this).attr('id')];
            var latlng = mark.getLatLng();
            mymap.setView(latlng, 25);
            mark.openPopup();
           console.log("clicked on: " + latlng );
        });
        console.log(locs);