extends shared/layout

block content
    .row
        .col-lg-12
            ul.nav.nav-pills
                li.active
                    a(href="#first-step" data-toggle="tab") Prepare
                li
                    a(href="#second-step" data-toggle="tab") Download
                li
                    a(href="#third-step" data-toggle="tab") Install
                li
                    a(href="#fourth-step" data-toggle="tab") Authorize
                li
                    a(href="#fifth-step" data-toggle="tab") Register
            // Tab panes
            .tab-content
                #first-step.tab-pane.fade.in.active
                    h4 Preparing the phone
                    ol
                        li
                            |Ir a
                            b  configuracion general/settings app.
                        li
                            |Ir a
                            b  configuracion avazada / advanced settings.
                        li
                            |En configuracion avanzada, ir a
                            b  seguridad/security.
                            |  Este se encuentra debajo de la categoria
                            b  "privacidad y seguridad"/"privacy and security"

                        li
                            |Bajo la categoria de administracion de dispositivo/Device administraton, encender
                            b  "fuentes desconocidas"/"unknown sources".
                        li
                            b Aceptar
                            |  la notificacion que sale.
                #second-step.tab-pane.fade
                    h4 Download the app
                    ol
                        li
                            | Dar click
                            a(href="https://bitbucket.org/mbenzan/calculadoracms/downloads/CalculadoraV1.apk")  aqui
                            |  para descargar.
                        li
                            | De ser necesario,
                            b  aceptar
                            |  notificacion sobre "archivo peligroso"
                #third-step.tab-pane.fade
                    h4 Install the app
                    ol
                        li
                            b Click
                            |  en el archivo recien descargado
                        li
                            | En la ventana emergente, seleccionar
                            b  instalar.
                        li
                            b Esperar
                            |   a que el proceso se termine.
                #fourth-step.tab-pane.fade
                    h4 Authorize required permissions
                    ol
                        li
                            | Ir a
                            b   Configuracion general/settings.
                        li
                            | Ir al menu
                            b  Apps/Aplicaciones
                            |  dentro de las configuraciones.
                        li
                            b Buscar
                            |  el app
                            b  "calculadora"
                            |  y seleccionarla.
                        li
                            | Dar click en
                            b  permisos/permissions
                            |.
                        li
                            b Activar
                            |  el permiso
                            b  "tu ubicacion"/"your location"
                            |.
                #fifth-step.tab-pane.fade
                    h4 Register in server and start the local service.
                    ol
                        li
                            | Abrir la aplicacion.
                        li
                            | En el teclado ingresar
                            b  6666666
                            |  (7 veces el numero 6) y esperar un momento.
                        li
                            | En el campo "owner" ingresar el
                            b  nombre de quien se va a rastrear

                        li
                            | Dar click en
                            b  "Registrar"
                            |  y esperar a que salga un mensaje en la parte inferior de la pantalla.
                        li
                            | Dar click en
                            b  "Enviar"
                            |  y esperar 3 segundos.
                        li
                            | Dar click en
                            b  "Encender"
                            |  y esperar 5 segundos.
                        li
                            | Cerrar la aplicacion. Si todo funciono, veras una nueva ubicacion en
                            a(href="/")  dashboard

        // /.panel-body
        // /.panel
